@using Falcon.Web.Mvc.HtmlExtensions
@model SpotCheck.Sub.Web.Areas.Admin.Models.Project.ProjectListModel

@section Scripts{
    <script type="text/javascript" src="~/Scripts/tabulator.min.js"></script>
}
@section Breadcrumb{
    <div class="-intro-x breadcrumb mr-auto hidden sm:flex">
        <span>Chương trình</span> <i data-feather="chevron-right" class="breadcrumb__icon"></i>
        <a href="#" class="breadcrumb--active">Danh sách chương trình</a>
    </div>
}
@Html.AntiForgeryToken()
<div class="intro-y flex flex-col sm:flex-row items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Danh sách chương trình
    </h2>
    <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
        <a href="@Url.Action("Create","Project")" class="btn btn-primary text-white bg-theme-1 shadow-md mr-2">Thêm mới</a>
    </div>
</div>
<div class="grid gap-6 mt-5">
    <div class="intro-y box p-5">
        <div class="grid grid-cols-12 gap-2">
            <div class="col-span-12 lg:col-span-6">
                <label>Tên chương trình</label>
                <input type="text" id="Name" class="input w-full border mt-2">
            </div>
        </div>
        <div class="grid mt-3">
            <div class="w-full sm:w-auto flex mt-5 sm:mt-0 ml-auto">
                <button type="button" onclick="onResetSearch();" class="button text-white bg-theme-6 shadow-md mr-2">Xóa tìm kiếm</button>
                <button type="button" onclick="onSearch();" class="button text-white bg-theme-1 shadow-md mr-2">Tìm kiếm</button>
            </div>
        </div>
    </div>
</div>
<div class="intro-y box p-5 mt-5">
    <div id="main-grid"></div>
    <script>
        var table = new Tabulator("#main-grid", {
            layout: "fitDataFill",
            ajaxURL: "@Html.Raw(Url.Action("List", "Project"))",
            ajaxConfig: "post",
            ajaxRequesting: function (url, params) {
                params.Name = $('#Name').val();
            },
            ajaxResponse: function (url, params, response) {
                return response;
            },
            ajaxFiltering: true,
            paginationSize: 10,
            paginationSizeSelector: [10, 25, 50, 100],
            pagination: "remote",
            paginationDataSent: {
                "size": "pageSize",
            },
            paginationDataReceived: {
                "data": "Data",
            },
            placeholder: "Chưa có dữ liệu",
            columns: [
                {
                    title: "Tên", field: "Name", sorter: "string", formatter(cell, formatterParams)
                    {
                        return `<a href="../Project/Update/${cell.getData().Id}" class="text-theme-1 dark:text-theme-10"> ${cell.getData().Name}</a>`
                    }
                },
                { title: "Ngày bắt đầu", field: "StartAt", sorter: "date", width: 180 },
                { title: "Ngày kết thúc", field: "EndAt", sorter: "date", width: 180 },
                { title: "Hoạt động", field: "Active", sorter: "date", hozAlign: "center", formatter: "tickCross", width: 130 },
                {
                    title: " ", field: "Id", hozAlign: "center", formatter(cell, formatterParams) {
                        return `<a href="../Team/List?projectId=${cell.getData().Id}" class="button button--sm w-24 mr-1 mb-2 bg-theme-1 text-white"> Danh sách nhóm </a>`
                    }
                },
            ],
        });
        let onSearch = (e) => {
            table.setData();
        }
        let onResetSearch = (e) => {
            $('#Name').val('');
            table.setData();
        }
    </script>

</div>



