<div class="app-wrapper-footer">
    <div class="app-footer">
        <div class="app-footer__inner">
            @*<div class="app-footer-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="javascript:void(0);" class="nav-link">
                            Cộng Đồng Bầu
                        </a>
                    </li>
                </ul>
            </div>*@
            <div class="app-footer-right">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="https://fsw.vn" class="nav-link">
                            ©<span id="_y"></span> &nbsp;
                            by PhoenixCompany
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    var y = document.getElementById('_y');
    y.innerHTML = (new Date()).getFullYear();
</script>