@model Phoenix.Server.Web.Areas.Admin.Models.ProductType.ProductTypeModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            Thêm mới loại sản phẩm
        </h2>
        <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
            <a href="@Html.Raw(Url.Action("Index"))" class="btn btn-warning w-32 mr-2 mb-2 flex items-center justify-center bg-theme-7 text-white">
                <i data-feather="corner-down-left" class="w-4 h-4 mr-2"></i> Quay lại
            </a>
            <button type="submit" class="btn btn-success w-32 mr-2 mb-2 flex items-center justify-center bg-theme-9 text-white">
                <i data-feather="save" class="w-4 h-4 mr-2"></i>Lưu
            </button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}

