@using Falcon.Web.Mvc.HtmlExtensions
@model Phoenix.Server.Web.Areas.Admin.Models.Warehouse.WarehouseModel
@*@model Phoenix.Server.Web.Areas.Admin.Models.WarehouseMenu.WarehouseMenuModel*@
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="intro-y col-span-12 lg:col-span-6">
        <div class="intro-y box p-5">
            <div>
                <label>Tên sản phẩm</label>
                <select id="selectProduct" name="ProductSKU_Id" class="tom-select"></select>
                <script>
                    var zsettings = {
                        valueField: 'Id',
                        labelField: 'Name',
                        searchField: 'Name',
                        placeholder: '-- Vui lòng chọn nhóm --',
                        load: function (query, callback) {
                            var url = '/api/dropdown/TakeAllWarehouseMenus';
                            fetch(url, { method: "post" })
                                .then(response => response.json())
                                .then(json => {
                                    callback(json);
                                }).catch(() => {
                                    callback();
                                });

                        },
                        render: {
                            option: function (item, escape) {
                                return `<option value="${item.Id}"> ${item.Name} </option>`;
                            },
                            item: function (item, escape) {
                                return `<option value="${item.Id}"> ${item.Name} </option>`;
                            }
                        }
                    };
                    var zproductSelect = new TomSelect('#selectProduct', zsettings);
                    @if (Model.Id > 0)
                    {
                        <text>
                    zproductSelect.setValue([@Model.ProductSKU_Id])
                        </text>
                    }
                </script>
            </div>

            <div class="mt-3">
                <label>Số lượng cũ</label>
                <div class="mt-2">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control input input--switch border" } })
                </div>
            </div>

            <div class="mt-3">
                <label>Cập nhật số lượng</label>
                <div class="mt-2">
                    @Html.EditorFor(model => model.NewQuantity, new { htmlAttributes = new { @class = "form-control input input--switch border" } })
                </div>
            </div>
        </div>
    </div>
</div>